@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-50: #eef5ff;
  --color-primary-100: #d9e8ff;
  --color-primary-200: #bcd5ff;
  --color-primary-300: #91b8ff;
  --color-primary-400: #6595ff;
  --color-primary-500: #4285F4;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d58d8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  --color-primary-950: #172554;
  
  --color-accent-50: #faf5ff;
  --color-accent-100: #f3e8ff;
  --color-accent-200: #e9d5ff;
  --color-accent-300: #d8b4fe;
  --color-accent-400: #c084fc;
  --color-accent-500: #a855f7;
  --color-accent-600: #9333ea;
  --color-accent-700: #8e44ad;
  --color-accent-800: #6b21a8;
  --color-accent-900: #581c87;
  --color-accent-950: #3b0764;
}

@layer base {
  body {
    @apply antialiased;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-gray-600 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500 dark:bg-gray-500;
}